body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.home-container {
    margin-left: 66px;
    margin-top: 166px;

}

.section-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.course-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    overflow-y: auto;
}

.course-box {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.course-box img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.course-box h3 {
    padding: 10px;
    font-size: 18px;
    color: #333;
}