.navbar h1 {
    margin-left: 20px;
}

.navbar nav ul {
    list-style-type: none; /* Removes bullets from list */
    margin-right: 30px;
    padding: 0;
    display: flex;
    /* Aligns list items horizontally */
}

.navbar nav ul li {
    margin-left: 20px; /* Adds space between list items */
}

.navbar nav ul li a {
    text-decoration: none; /* Removes underline from links */
    color: #333; /* Sets link color */
}

.navbar nav ul li a:hover {
    text-decoration: underline; /* Adds underline on hover */
}


/* Navigation Bar directly below the header */
.navbar {
    display: flex;
    justify-content: flex-start;
    padding: 20px 66px;
    background-color: #fff;
    gap: 40px;
}

.navbar a {
    color: gray;
    text-decoration: none;
    font-size: 16px;
    gap: 20px;
}

.navbar a:hover {
    text-decoration: blue;
}