* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
    color: #333;
}

.teacher-schedule-container {
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.available-slots, .schedule-form {
    flex: 1;
    padding: 20px;
}

.available-slots {
    margin-right: 40px;
    height: 400px; /* Limit the height for the scrollbar */
    overflow-y: auto;
}

.available-slots h2 {
    font-size: 20px;
    margin-bottom: 20px;
    color: #4CAF50;
}

.slot-list {
    list-style-type: none;
}

/*.slot-list li {*/
/*    background-color: #f4f4f4;*/
/*    margin-bottom: 10px;*/
/*    padding: 10px;*/
/*    border-left: 4px solid #4CAF50;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*}*/

/*.slot-list li span {*/
/*    flex: 1;*/
/*}*/

.schedule-form h2 {
    font-size: 20px;
    margin-bottom: 20px;
    color: #4CAF50;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

input[type="datetime-local"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.add-slot-button {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.submit-btn {
    width: 100%;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;

}

button:hover {
    background-color: #45a049;
}

.empty-message {
    color: #999;
    font-style: italic;
}


.time-slot {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.slot-header {
    display: flex;
    flex-direction: column;
}

.slot-label {
    font-weight: bold;
    color: #4CAF50;
    margin-bottom: 5px;
}

.slot-time {
    font-size: 16px;
    color: #333;
}


.delete-btn {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-btn:hover {
    background-color: #d32f2f;
}