{% extends 'header.html' %}
{% load static %}
{% block title %}Teacher Profile{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/teacher_profile_layout.css' %}">
    <link rel="stylesheet" href="{% static 'css/personal_image_layout.css' %}">
{% endblock %}
{% block nav-content %}
    {#    <a href="{% url 'dashboard' %}">Dashboard</a>#}
    {#    <a href="{% url 'teacher-profile' %}">Profile</a>#}

{% endblock %}
{% block content %}
    <form id="combined-form" method="POST">
        {% csrf_token %}
        <div class="teacher-profile-container">
            <!-- Left Column -->

            <div class="left-column">
                <div class="profile-image-box">
                    <h3>Personal Image</h3>

                    <div class="image-container">
                        <img id="photoPreview" alt="Your Photo" style="display: none;">
                    </div>


                    <button type="button" class="custom-file-button"
                            onclick="document.getElementById('photoInput').click();">Upload Photo
                    </button>
                    <input type="file" id="photoInput" accept="image/*" onchange="previewImage()"
                           style="display: none;">


                    <h6>Tips: Enlarge, move the Image inside the circle</h6>

                </div>
                <div class="subjects-box">
                    <h3>Subjects</h3>


                    <div id="subjects-container">
                        {% if subjects %}
                            {% for subject in subjects %}
                                <div class="subject-field">
                                    <input type="text" name="subject[]" value="{{ subject }}"
                                           placeholder="Enter subject">
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="subject-field">
                                <input type="text" name="subject[]" placeholder="Enter subject">
                            </div>
                        {% endif %}
                    </div>
                    <button type="button" id="remove-btn" class="remove-btn" onclick="removeSubject()">Remove</button>
                    <button type="button" class="add-btn" onclick="addSubject()">Add</button>
                    <input type="hidden" id="id_subjects" name="subjects">


                </div>
            </div>

            <!-- Right Column -->
            <div class="right-column">
                <h2>Personal Information</h2>
                <div class="personal-info-box">

                    <div class="form-row">
                        <div class="form-group">
                            <label for="first-name">First Name:</label>
                            <input type="text" id="first-name" name="first_name"
                                   value="{{ form.first_name.value|default_if_none:'' }}"
                                   required>
                        </div>
                        <div class="form-group">
                            <label for="last-name">Last Name:</label>
                            <input type="text" id="last-name" name="last_name"
                                   value="{{ form.last_name.value|default_if_none:'' }}" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="school">School:</label>
                        <input type="text" id="school" name="school" value="{{ form.school.value|default_if_none:'' }}">
                    </div>
                    <div class="form-group">
                        <label for="introduction">Personal Introduction:</label>
                        <textarea id="introduction" name="introduction" rows="4"
                                  cols="50">{{ form.introduction.value|default_if_none:'' }}</textarea>
                    </div>


                    <button type="button" id="submit-btn">Submit</button>

                    {% for field in form %}
                        {% if field.errors %}

                            {% for error in field.errors %}
                                <div class="error-message">
                                    <p>{{ field.label }}: {{ error }}</p>
                                </div>
                            {% endfor %}

                        {% endif %}
                    {% endfor %}
                    {% if form.non_field_errors %}
                        <div class="error-message">
                            {% for error in form.non_field_errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>

        </div>
    </form>
{% endblock %}
{% block script %}
    <script src="{% static 'js/subjects.js' %} "></script>
    <script src="{% static 'js/personal_image.js' %}" defer></script>
{% endblock %}