<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Platform</title>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/course_layout.css' %}">
    <script src="{% static 'js/course.js' %}" defer></script>
</head>
<body>
<div class="course-header-container">
    <img src="{% static 'img/Coursera_logo.png' %}" alt="Website Logo" style="height: 20px; width: auto;">
    <a href="{% url 'home' %}">Home</a>
    <a href="#" id="description-link">Description</a>
</div>

<div class="container">
    <!-- Sidebar -->
    <div class="sidebar">
        {#        <a href="{% url 'learn' %}" class="return-icon">Return</a>#}
        {% for topic in topics %}
            <h2 class="topic-header" id="toggle-topic-{{ topic.id }}">{{ topic.title }}</h2>
            {% for subtopic in topic.subtopics.all %}
                <div class="course-item" data-topic-id="{{ topic.id }}">
                    <a href="#" data-video="{{ subtopic.video_url }}">{{ subtopic.title }}</a>
                </div>
            {% endfor %}


        {% endfor %}
    </div>

    <!-- Main content area -->
    <div class="content">
        <div id="content-area"></div>
        <h2 id="video-title"></h2>
        <iframe id="video-frame" src="" title="Video Player"></iframe>
    </div>
</div>

</body>
</html>
