<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Platform</title>
    {% block css %}{% endblock %}
    <link rel="stylesheet" href="{% static 'css/course_layout.css' %}">

</head>
<body>
<div class="course-header-container">
    <img src="{% static 'img/Coursera_logo.png' %}" alt="Website Logo" style="height: 20px; width: auto;">
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'course' course_id=course.course_id %}" id="overview">Overview</a>
    <a href="{% url 'course_info' course_id=course.course_id %}" id="information">Information</a>
    <a href="{% url 'course_material' course_id=course.course_id %}" id="material">Material</a>
    {% if user.is_superuser %}
        <a href="{% url 'upload' course_id=course.course_id %}">Upload</a>
    {% endif %}
</div>
{% block content %}{% endblock %}

{% block script %}{% endblock %}
</body>
</html>
